# Exercícios

Nestes exercícios vamos utilizar os dados de salários da cidade de São Francisco, [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) do site do [Kaggle](https://www.kaggle.com).

In [ ]:

from google.colab import drive

drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
sal = pd.read_csv ('/content/drive/My Drive/Salaries.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

1. Importe pandas como pd.

In [ ]:
import pandas as pd

2. Leia o arquivo Salaries.csv e salve as informações no DataFrame sal.

In [ ]:
sal = pd.read_csv ('/content/drive/My Drive/Salaries.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

3. Verifique os primeiros registros de sal.

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

4. Use o método `info()` para descobrir o número de registros.

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

5. Qual é a média de BasePay?

In [ ]:
sal['BasePay'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object>

6. Qual é o maior salário em OvertimePay no dataset?

In [ ]:
sal['OvertimePay'].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0                  0.0
1            245131.88
2            106088.18
3             56120.71
4               9737.0
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: OvertimePay, Length: 148654, dtype: object>

7. Qual a profissão (JobTitle) de Courtney T Mcelrath?

In [ ]:
sal[sal['EmployeeName'] == 'Courtney T Mcelrath'] ['JobTitle']

148458    Pool Lifeguard
Name: JobTitle, dtype: object

8. Quanto ela recebe incluindo os benefícios (TotalPayBenefits)?

In [ ]:
sal[sal[''] == 'Courtney T Mcelrath'] ['TotalPay']

148458    195.08
Name: TotalPay, dtype: float64

9. Qual a pessoa mais bem paga incluindo os benefícios?

In [ ]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()] ['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

10. Qual a pessoa com o pior pagamento incluindo os benefícios?

In [ ]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()] ['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

11. Qual e média da base salárial (BasePay) de todos os funcionários no período de 2011-2014?

In [ ]:
media = sal.groupby('Year')
media.mean()

#Tentar fazer mais tarde

            Id      TotalPay  TotalPayBenefits  Notes
Year
2011   18080.0  71744.103871      71744.103871    NaN
2012   54542.5  74113.262265     100553.229232    NaN
2013   91728.5  77611.443142     101440.519714    NaN
2014  129593.0  75463.918140     100250.918884    NaN

12. Quantas profissões diferente há nessa base de dados?

In [ ]:
sal['JobTitle'].nunique()

2159

13. Quais são as 5 profissões mais comuns?

In [ ]:
agrupado = sal.groupby('JobTitle').count()
MaisComuns = agrupado.sort_values(by='Id', ascending=False) [:5]
MaisComuns['Id']

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

14. Quantas profissões tinham apenas uma pessoa no ano de 2014?

In [ ]:
profissoes_sal = sal[sal['Year'] == 2014]
group = profissoes_sal.groupby('JobTitle').count()
count = group[group['Id'] == 1]
count.count()['Id']

175

15. Quantas pessoas tem a palavra 'Chief' na sua profissão (jobTitle)?

In [ ]:
def find_chief(job_title):
    if 'chief' in job_title.lower().split():
        return True
    else:
        return False

print('Total=',sum(sal['JobTitle'].apply(lambda x: find_chief(x))))

Total= 477

16. Há correlação (correlation) entre o tamanho do nome da profissão e o salário?

In [ ]:
sal['Correlacao'] = sal['JobTitle'].apply(len)

sal[['Correlacao', 'TotalPayBenefits']].corr()

#Tantar fazer mais tarde

                  Correlacao  TotalPayBenefits
Correlacao          1.000000         -0.036878
TotalPayBenefits   -0.036878          1.000000